<div class ="weatherWidget">
	{{#each partials.weatherContext.locations}}
		<div class="location">
			<h3>{{name}}</h3>
			<a href="{{forecastUrl}}">
				<img src="{{iconUrl}}" alt="{{weather}}" width="100" height="100"> {{weather}}, {{temp}}
			</a>
		</div>
	{{/each}}
	<br>
	<small>Source: <a href="https://www.wunderground.com">Weather Underground</a></small>
</div>